<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
</head>
<body>

    {% if ativos %}
         <h1>Lista de Alunos</h1>
    {% else %}
        <h1>Lista de Alunos Inativos</h1>
    {% endif %}
    

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>
    <form method="get">
        <input type="text" name="busca" placeholder="Buscar por nome" value="{{ query|default:'' }}">
        <button type="submit">Buscar</button>
    </form>
    </p>


    <table border="1" cellpadding="5" cellspacing="1">
        <tr>
            {% if ativos %}
                <th><a href="{% url 'ordenar_alunos' 'nome' %}?busca={{ query }}">Nome</a></th>
                <th><a href="{% url 'ordenar_alunos' 'curso' %}?busca={{ query }}">Curso</a></th>
                <th><a href="{% url 'ordenar_alunos' 'genero' %}?busca={{ query }}">Gênero</a></th>
                <th><a href="{% url 'ordenar_alunos' 'escolaridade' %}?busca={{ query }}">Escolaridade</a></th>
                <th><a href="{% url 'ordenar_alunos' 'estado_civil' %}?busca={{ query }}">Estado Civil</a></th>
                <th><a href="{% url 'ordenar_alunos' 'data_nascimento' %}?busca={{ query }}">Nascimento</a></th>
                <th>Ações</th>
            {% else %}
                <th><a href="{% url 'ordenar_alunos_inativos' 'nome' %}?busca={{ query }}">Nome</a></th>
                <th><a href="{% url 'ordenar_alunos_inativos' 'curso' %}?busca={{ query }}">Curso</a></th>
                <th><a href="{% url 'ordenar_alunos_inativos' 'genero' %}?busca={{ query }}">Gênero</a></th>
                <th><a href="{% url 'ordenar_alunos_inativos' 'escolaridade' %}?busca={{ query }}">Escolaridade</a></th>
                <th><a href="{% url 'ordenar_alunos_inativos' 'estado_civil' %}?busca={{ query }}">Estado Civil</a></th>
                <th><a href="{% url 'ordenar_alunos_inativos' 'data_nascimento' %}?busca={{ query }}">Nascimento</a></th>
                <th>Ativar</th>
            {% endif %}
        </tr>




        </tr>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.curso }}</td>
            <td>{{ aluno.get_genero_display }}</td>
            <td>{{ aluno.get_escolaridade_display }}</td>
            <td>{{ aluno.get_estado_civil_display }}</td>
            <td>{{ aluno.data_nascimento|date:"d/m/Y" }}</td>
            <td>
                {% if ativos %}
                    <a href="{% url 'editar_aluno' aluno.id %}">Editar</a>
                    <a href="{% url 'excluir_aluno' aluno.id %}">Excluir</a>
                {% else %}
                    <a href="{% url 'ativar_aluno' aluno.id %}">Ativar</a>
                {% endif %}
            </td>
        
        </tr>
        {% endfor %}
    </table>

    <p><a href="{% url 'index' %}">Voltar para Menu</a></p>

    {% if ativos %}
        <p><a href="{% url 'alunos_inativos' %}">Mostrar Inativos</a></p>
    {% else %}
        <p><a href="{% url 'alunos' %}">Mostrar Ativos</a></p>
    {% endif %}

</body>
</html>
