<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <table border="1" cellpadding="5" cellspacing="3">
        <tr>
            <th>Nome</th>
            <th>Editar</th>
        </tr>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso.nome }}</td>
            <td><a href="{% url 'editar_curso' curso.id %}">Editar</a></td>
        
        </tr>
        {% endfor %}
    </table>
</body>
</html>
